# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


/backend/scripts1
/backend/node_modules
/backend/import-reports/
__pycache__/
*.pyc
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
#ignoring the .md file except the readme.md :
*.md
!README.md

supabase/.temp/*